body{
background-color: #2c2c2c;
}



.carousel-caption {
    margin-top: 1%;
    margin-bottom: 35%;
}

.heading {
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 15px;
    
}
.about {
    height: 600px;
    width: 100%;
    opacity: 0.8;
    z-index: 5;
    padding-top: 14%;
  
    
    
}

.mission {
     height: 175px;
    width: 1140px;
   padding-left: 50px;
    padding-right: 50px;
    background-color: #fefefe;
    background-size: cover;
    margin-right:-10px; margin-left:-130px; width:1377px;
    color: #343434;
    padding-bottom: 0px;
}

.vision {
   height: 270px;
    width: 1140px;
   padding-left: 100px;
    padding-right: 100px;
    background-color: #343434;
    background-size: cover;
    margin-right:-10px; margin-left:-130px; width:1377px;
    color: #fefefe;
    
}

.journey {
    width: 1140px;
   padding-left: 50px;
    padding-right: 50px;
    background-color: #fefefe;
    background-size: cover;
 margin-left:-80px; width:1377px;
    color: #343434;
    padding-bottom: 0px;
}

.make {

    background-color: #167456;
   

    opacity: 0.8;
}

.join {
    margin-top: 5%;
    height: 250px;
    background-color: #123456;
    float:left;
}

.pad{
margin-top: 3%;
}

.contact {
    z-index: 4;
    height: 150px;
    background-image: url(../img/school.png);
}

.better {
    margin-top: 5%;
    height: 250px;
    background-color: #123336;
    float:left;

}




#fl {
    float: right;
}

#home {
 margin-top: 4.5%;   
}



.june {
    height: 350px;
    background-color: #D095AD;

}

.july {
     height: 350px;
    background-color: #B0E3D7;

}

.july1 {
    height: 350px;
    background: #ab86b9; /* Old browsers */


}

.july2 {
    height: 350px;
   background-color: #FB9FB1;

}

body {
    background-image: url(../img/footer_lodyas.png);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu' , sans-serif;
    font-weight: 500;
    font-style: italic;
color: #fefefd;
}
h3 {
    font-family: 'Ubuntu' , sans-serif;
    font-weight: 400;
    font-style: italic;
color: #fefefd;
}
p {
font-family: 'Ubuntu' , sans-serif;
    font-weight: 400;
    color: #fefefd;
    font-size: 20px;
    
}
li{
font-family: 'Ubuntu' , sans-serif;
    font-weight: 400;
}


